@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*In CSS the 1st thing we do is remove all margins and paddings using the universal selector (*)*/
*{
  margin: 0;
  padding: 0;  
}
/*Next we select the HTML, the root element of the page, here we want to center the elements horizontally */
html{
    text-align: center;
    font-family: Poppins, 'Segeo UI', sans-serif
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid #e3e3e3;
}
nav a{
    text-decoration: none;
    color: #929292;
    margin: 0 20px;
}
nav a:hover{
    color: black;
}
nav a.active{
    color: black;
}
header{
    padding-top: calc(50px + 1rem + 2px);
}
h1{
    margin-top: 100px;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1.2em;
}
h1 + p{
    width: 800px;
    margin: 35px auto; /*using margin L & R will center things on the page*/
}
#cta-button{
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, #d786ff, #722cff);
    display: inline-block;
    padding: 1em 3em;
    font-weight: 600;
    border-radius: 1000px;
    transition: 150ms ease;
}
#cta-button:hover{
     scale: 1.1;   
}
.video-player{
    margin-top: 30px;
    width: min(1100px, 100%);
    aspect-ratio: 16 / 9;
    border-radius: 15px;
}
/*min function is important for responsive web design allow content to be properly dispalayed no mater what type of device you are on, alsp adding aspect ratio
can also use the max-widt
-another option is the overflow: hidden; then everything that is bigger than the element will be cut off 
adding overflow: scroll; will add a scrollbar, allowing you to scroll inside the element so we can scroll */
.products-container{
    margin-top: 30px;
}
.item{
    box-sizing: border-box; /*creates the padding inwards*/
    width: 300px;
    height: 300px;
    display: inline-block; /*div are norammly block elements so we add the dispal inline so the are side by side
    div normally start each one on a separate line*/
    margin: 0 20px;
    margin-bottom: 20px;
    align-content: center;
    padding: 20px;
    border-radius: 30px;
    /*when display is shrink or screen is smaller in order to keep the space between them we add a margin bottom*/
}
.item > h2{
    margin-bottom: 10px;
}
.item:first-child{
    border: 1px solid black;
}
.item:nth-child(2){
    background-color: #722cff;
    color: #e3e3e3;
}
.item:last-child{
    background-color: black;
    color: white;
}
form{
    margin-top: 30px;
}
input{
    display: block; /*the normally have a display of inline which is why the were orginally side by side */
    margin: 0 auto; /*to center the inputs horizontally set margin
    zero auto and then margin-bottom of 15 pixels to create a gap between them*/
    margin-bottom: 15px;
    font: inherit; /*form elements like buttons and input fields do noy inherit the font settings by defaul like others
    which is why we have to apply font inherit manuall*/
    border-radius: 30px;
}
input[type="text"], input[type="password"]{
    padding: 5px 30px;
    width: 400px;
    height: 50px;
    border: none;
    background-color: #ebedf5;
}   
input[type="submit"]{
     width: 200px;
     padding: 10px;
     background-color: blue;
     color: white;
     font-weight: 600;
     border: none;
}